@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    /* background: url('https://source.unsplash.com/random') no-repeat center center fixed; */
    background-color: #E0D5CC;
    background-size: cover;
}

.main-section {
    margin: 0 auto;
    margin-top: 200px;
    padding: 0;
}

.modal-content {
    background-color: 'ffffff';
    opacity: 0.95;
    padding: 10px;
}

#bios-logo {
    padding-bottom: 20px;
}

#username {
    margin-bottom: 0px;
    padding-bottom: 0px;
}