@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    background: url('https://source.unsplash.com/1920x1080/?skyline') no-repeat center center fixed;
    /* background-color: #E0D5CC; */
    background-size: cover;
}

.main-section {
    margin: 0 auto;
    margin-top: 200px;
    padding: 0;
}

.modal-content {
    background-color: 'ffffff';
    opacity: 0.95;
    padding: 10px;
    border-radius: 10px;
}

#bios-logo {
    padding-bottom: 20px;
}

#username {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    height: 42px;
    border-radius: 5px;
    border: gray solid 1px;
}



.btn {
    border: black 3px solid;
    width: 100%;
    background-color: rgb(177, 177, 177);
    font-size: 19px;
    padding: 8px ;
    opacity: 1;
}

.btn:hover, .btn:focus {
    background-color: #53596b!important;
    color: white;
}

#login-icon {
    font-size: 20px;
    margin-right: 7px;
}

.forgot { 
    margin-top: 10px;
}

.alert-danger {
    padding: 2px;
}
